<h2 class="text-uppercase text-center mb-5">Update Employee Details</h2>
<form class="center" #userForm="ngForm"  (ngSubmit)="saveUser(userForm)" >

    <div class="row">
        <div class="col-md-2"></div>
         <div class="col-md-3 mb-4">
           <div class="form-outline">
             <mat-form-field appearance="fill">
               <mat-label>Employee id</mat-label>
               <input required id="id" matInput placeholder="Enter Employeeid" #eid="ngModel" name="eid" [(ngModel)]="EmployeeId"/>
               
               <mat-error *ngIf="eid.invalid">
                Id is <strong>required</strong>
               </mat-error>
             </mat-form-field>
           </div>
         </div>
         <div class="col-md-3 mb-4">
           <div class="form-outline">
             <mat-form-field appearance="fill">
               <mat-label>Email</mat-label>
               <input  id="email"  matInput placeholder="email" #email="ngModel"  name="email" [(ngModel)]="EmpObj.emailid" />
               
               <mat-error *ngIf="mname.invalid">
                 Name is <strong>required</strong>
               </mat-error>
             </mat-form-field>
           </div>
         </div>
         <div class="col-md-3 mb-4">
            <div class="form-outline">
              <mat-form-field appearance="fill">
                <mat-label>Company</mat-label>
                <input  id="company"  matInput placeholder="company" #company="ngModel"  name="company" [(ngModel)]="Company" />
                
                <mat-error *ngIf="company.invalid">
                  Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
    </div>
   
 <div class="row">
  <div class="col-md-2"></div>
   <div class="col-md-3 mb-4">
     <div class="form-outline">
       <mat-form-field appearance="fill">
         <mat-label>FirstName</mat-label>
         <input required id="firstname" matInput placeholder="Enter FirstName" #fname="ngModel" name="Empfirstname" [(ngModel)]="EmpObj.firstname"/>
         
         <mat-error *ngIf="fname.invalid">
           Name is <strong>required</strong>
         </mat-error>
       </mat-form-field>
     </div>
   </div>
   <div class="col-md-3 mb-4">
     <div class="form-outline">
       <mat-form-field appearance="fill">
         <mat-label>MiddleName</mat-label>
         <input  id="middlename"  matInput placeholder="Enter MiddleName" #mname="ngModel"  name="Empmiddlename" [(ngModel)]="EmpObj.middlename" />
         
         <mat-error *ngIf="mname.invalid">
           Name is <strong>required</strong>
         </mat-error>
       </mat-form-field>
     </div>
   </div>
   <div class="col-md-3 mb-4">
     <div class="form-outline">
       <mat-form-field appearance="fill">
         <mat-label>LastName</mat-label>
         <input required id="lastname" matInput placeholder="Enter LastName" #lastname1="ngModel" name="Emplastname" [(ngModel)]="EmpObj.lastname"/>
         
         <mat-error *ngIf="lastname1.invalid">
           Name is <strong>required</strong>
         </mat-error>
       </mat-form-field>
     </div>
   </div>
 </div>
 <div class="row">
  <div class="col-md-2"></div>
   <div class="col-md-3 mb-4">
 <div class="form-outline">
   <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <input required id="gender" matInput placeholder="Enter Gender" #gender1="ngModel" name="Empgen" [(ngModel)]="EmpObj.gender"/>
      <mat-error *ngIf="gender1.invalid">
        gender is <strong>required</strong>
      </mat-error>
   </mat-form-field>
 </div>
</div>
<div class="col-md-3 mb-4">
 <div class="form-outline">
  <mat-form-field appearance="fill">
      <mat-label>Date of Birth</mat-label>
      <input required id="dob" matInput type="text" placeholder="date of birth"   #Dob1="ngModel" name="Empdate" [(ngModel)]="EmpObj.Dob"/>

    </mat-form-field>
   
 </div>
</div>
<div class="col-md-3 mb-4">
 <div class="form-outline">
     <mat-form-field appearance="fill">
         <mat-label>Pincode</mat-label>
         <input required id="pincode" matInput type="text" placeholder="Pincode"   #pincode="ngModel" name="Emppincode" [(ngModel)]="EmpObj.pincode"/>

       </mat-form-field>
 </div>
</div>
 </div>  
 <div class="row">
  <div class="col-md-2"></div>
     <div class="col-md-3 mb-4">
   <div class="form-outline">
     <mat-form-field appearance="fill">
         <mat-label>Address</mat-label>
         <input type="text" required id="add1" matInput name="Empadd1" #address="ngModel" [(ngModel)]="EmpObj.add"/>
         <mat-error *ngIf="address.invalid">
           Address is <strong>required</strong>
         </mat-error>
       </mat-form-field>
       </div>
       </div>
       <div class="col-md-3 mb-4">
         <div class="form-outline">
             <mat-form-field appearance="fill">
                 <mat-label>Type</mat-label>
                 <input type="text" required id="emptype" matInput name="Emptype" #emptype="ngModel" [(ngModel)]="EmpObj.emptype"/>
               </mat-form-field>
         </div>
     </div>

             <div class="col-md-3 mb-4">
                 <div class="form-outline">
                     <div class="example-container">
                         <mat-form-field hintLabel="Max 6 characters" appearance="fill">
                           <mat-label>Contact No</mat-label>
                           <input  type="text" required id ="empcontact" matInput  placeholder="0000000000" name="Employeecontact" #Empcontact="ngModel" [(ngModel)]="EmpObj.contactno">
                         </mat-form-field>
                       
                 </div>
             </div>

 </div>
 </div>
 <div class="container" style="text-align:center;">
  
  
  
 <button class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"  name="submitbutton" (click)="Backtoemployee()"> Employee</button>
  
 </div>
 
</form> 
